.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .alert-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .alert-card button {
    margin-top: 10px;
  }
  .modal-content-grande {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 1100px;
  }
    .modal-content-clientes {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 800px;
  }
  .modal-content-muygrande {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 1400px;
  }
  .modal-content-ingresodepagos {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 1500px;
  }

.modal-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert-icon {
  width: 35px; 
  height: 30px; 
}


.custom-success-button {
  padding: 15px 30px; /* Aumenta el tamaño del padding */
  margin: 5px;
  background-color: #abd68e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px; /* Aumenta el tamaño del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px; /* Igualar el tamaño de los botones */
}

.custom-success-button:hover {
  background-color: #6ed12b;
}
.custom-success-button:focus {
  outline: none;
}
/* Estilo personalizado para el botón de confirmación */
.custom-confirm-button {
  padding: 15px 30px; /* Aumenta el tamaño del padding */
  margin: 5px;
  background-color: #e17980;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px; /* Aumenta el tamaño del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px; /* Igualar el tamaño de los botones */
}

.custom-confirm-button:hover {
  background-color: #ed0018;
}
.custom-confirm-button:focus {
  outline: none;
}

/* Estilo personalizado para el botón de cancelación */
.custom-cancel-button {
  padding: 15px 30px; /* Aumenta el tamaño del padding */
  background-color: #143361;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px; /* Aumenta el tamaño del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  width: 200px; /* Igualar el tamaño de los botones */
}

.custom-cancel-button:hover {
  background-color: #007bff;
}
.custom-cancel-button:focus {
  outline: none;
}

/* Estilo del contenedor de los botones */
.modal-buttons {
  display: flex;  /* Alinea los botones horizontalmente */
  justify-content: center;  /* Centra los botones horizontalmente */
  gap: 10px;  /* Espaciado entre los botones */
}
.tabla-clientesbusquedareal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

/* Encabezado fijo y sin separadores */
.tabla-clientesbusquedareal thead {
    position: sticky;
    top: 0;
    background-color: #143361;
    z-index: 2;
}

.tabla-clientesbusquedareal th {
    padding: 5px;
    text-align: left;
    background-color: #143361;
    color: white;
    border: none;
    /* quitar borde blanco */
}

/* Cuerpo de la tabla */
.tabla-clientesbusquedareal tbody tr {
    border-bottom: 1px solid #e1e1e1;
    background-color: white;
    transition: background 0.3s;
}

.tabla-clientesbusquedareal tbody tr:nth-child(even) {
    background-color: #f7f7fa;
}

.tabla-clientesbusquedareal tbody tr:hover {
    background-color: #ece9f6;
}

.tabla-clientesbusquedareal td {
    padding: 5px;
    text-align: left;
    color: #333;
    background-color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
}
.contenedortabla_clientesbusqueda {
    max-height: 400px;
    overflow-y: auto;
    border-radius: 8px;
    max-width: 800px;
    user-select: none;
}

.contenedortabla_clientesbusqueda::-webkit-scrollbar {
    width: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.contenedortabla_clientesbusqueda::-webkit-scrollbar-thumb {
    background-color: #143361;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}

.contenedor-tabla-cuentacorriente::-webkit-scrollbar-thumb:hover {
    background-color: #4885e2;
}