/* Para centrar el modal en la pantalla */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Por defecto oculto */
}

.modal-container.active {
  display: block; /* Muestra el modal cuando esté activo */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  z-index: 999;
  display: none;
}

.modal-overlay.active {
  display: block; /* Muestra el overlay cuando esté activo */
}
.btn-volver-modificar-cliente{
  background-color: #6BBE45;
  border:none;
  color:white;
  margin: 10px;
  transition: transform 0.2s ease; /* Transición suave para el hover */
}

.btn-modificar-cliente{
  background-color: #FF6F61;
  border:none;
  color:white;
  margin: 10px;
  transition: transform 0.2s ease; /* Transición suave para el hover */
}

.btn-modificar-cliente:hover{
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}

.btn-volver-modificar-cliente:hover{
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}

.contenido-modificar-empresa input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f0f0f0; /* color de fondo claro */
  color: gray;
}
.botones-formulario-modificar-cliente{
  display: flex;
  justify-content: center;
}