.tabla-pago-guias-expo {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    border-collapse: collapse; /* Sin espacios entre celdas */
    table-layout: fixed; /* Establece anchos fijos para las columnas */
    width: 100%; /* Asegura que la tabla use el ancho completo */
    max-height: 120px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    display: block; /* Hace que la tabla se comporte como un bloque */
    border-radius: 5px;
}
.primeracolumnaguiasexpo,
.segundacolumnaguiasexpo {
  display: grid;
  grid-template-columns: 60% 40%; /* dos columnas */
  gap: 20px; /* separación entre ambas */
  align-items: flex-start; /* que no se deformen verticalmente */
}

/* Tabla */
.tabla-embarques {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

/* Encabezado fijo y sin separadores */
.tabla-embarques thead {
  position: sticky;
  top: 0;
  background-color: #143361;
  z-index: 2;
}

.tabla-embarques th {
  padding: 8px 12px;
  text-align: left;
  background-color: #143361;
  color: white;
  border: none;
  /* quitar borde blanco */
}

/* Cuerpo de la tabla */
.tabla-embarques tbody tr {
  border-bottom: 1px solid #e1e1e1;
  background-color: white;
  transition: background 0.3s;
}

.tabla-embarques tbody tr:nth-child(even) {
  background-color: #f7f7fa;
}

.tabla-embarques tbody tr:hover {
  background-color: #ece9f6;
}

.tabla-embarques td {
  padding: 8px 10px;
  text-align: left;
  color: #333;
  background-color: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
}
.contenedor-tabla-embarquesexpo {
  max-height: 600px;
  overflow-y: auto;
  border-radius: 8px;
  min-height: 200px;
  margin-top: 6px;
  margin-right: 6px;
}
/* Scrollbar personalizado solo al contenedor */
.contenedor-tabla-embarquesexpo::-webkit-scrollbar {
  width: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.contenedor-tabla-embarquesexpo::-webkit-scrollbar-thumb {
  background-color: #143361;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}

.contenedor-tabla-embarquesexpo::-webkit-scrollbar-thumb:hover {
  background-color: #4885e2;
}


.tabla-pago-guias-expo tbody {
    overflow-y: auto; /* Permite el desplazamiento vertical */
    
}

.tabla-pago-guias-expo th, .tabla-pago-guias-expo td {
    padding: 2px 5px; /* Espaciado reducido */
    text-align: center; /* Alineación del texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.tabla-pago-guias-expo th {
    background-color: #f0f0f0; /* Color de fondo para las cabeceras */
    font-weight: bold;
    padding: 2px 5px;
}

/* Define anchos para las columnas */
.tabla-pago-guias-expo th:nth-child(1),
.tabla-pago-guias-expo td:nth-child(1) {
    width: 40%; 
}

.tabla-pago-guias-expo th:nth-child(2),
.tabla-pago-guias-expo td:nth-child(2) {
    width: 40%; 
}

.tabla-pago-guias-expo th:nth-child(3),
.tabla-pago-guias-expo td:nth-child(3) {
    width: 10%; 
}

.tabla-mercaderia-guias-expo {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    border-collapse: collapse; /* Sin espacios entre celdas */
    table-layout: fixed; /* Establece anchos fijos para las columnas */
    width: 100%; /* Asegura que la tabla use el ancho completo */
    max-height: 120px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    display: block; /* Hace que la tabla se comporte como un bloque */
    border-radius: 5px;
}

.tabla-mercaderia-guias-expo tbody {
    overflow-y: auto; /* Permite el desplazamiento vertical */
    
}

.tabla-mercaderia-guias-expo th, .tabla-mercaderia-guias-expo td {
    padding: 2px 5px; /* Espaciado reducido */
    text-align: center; /* Alineación del texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.tabla-mercaderia-guias-expo th {
    background-color: #f0f0f0; /* Color de fondo para las cabeceras */
    font-weight: bold;
    padding: 2px 5px;
}

/* Define anchos para las columnas */
.tabla-mercaderia-guias-expo th:nth-child(1){
    width: 15%; 
}

.tabla-mercaderia-guias-expo th:nth-child(2){
    width: 15%; 
}

.tabla-mercaderia-guias-expo th:nth-child(3) {
    width: 15%; 
}
.tabla-mercaderia-guias-expo th:nth-child(4) {
    width: 20%; 
}
.tabla-mercaderia-guias-expo th:nth-child(5) {
    width: 15%; 
}
.tabla-mercaderia-guias-expo th:nth-child(6) {
    width: 20%; 
}



.tabla-embarques-expo {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    border-collapse: collapse; /* Sin espacios entre celdas */
    table-layout: fixed; /* Establece anchos fijos para las columnas */
    width: 100%; /* Asegura que la tabla use el ancho completo */
    max-height: 300px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    display: block; /* Hace que la tabla se comporte como un bloque */
    border-radius: 5px;
}

.tabla-embarques-expo tbody {
    overflow-y: auto; /* Permite el desplazamiento vertical */
    
}

.tabla-embarques-expo th, .tabla-embarques-expo td {
    padding: 2px 5px; /* Espaciado reducido */
    text-align: center; /* Alineación del texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.tabla-embarques-expo th {
    background-color: #f0f0f0; /* Color de fondo para las cabeceras */
    font-weight: bold;
    padding: 2px 5px;
}

/* Define anchos para las columnas */
.tabla-embarques th:nth-child(1),
.tabla-embarques td:nth-child(1) {
    width: 10%; 
}

.tabla-embarques th:nth-child(2),
.tabla-embarques td:nth-child(2) {
    width: 20%; 
}

.tabla-embarques-expo th:nth-child(3),
.tabla-embarques-expo td:nth-child(3) {
    width: 25%; 
}
.tabla-embarques-expo th:nth-child(4),
.tabla-embarques-expo td:nth-child(4) {
    width: 25%; 
}